* {}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    overflow: hidden;
    background-color: var(--white);
    font-family: Arial, sans-serif;
}

:root {
    --light-gray: rgb(157, 157, 157);
    --white: rgb(255, 255, 255);
    --grayer: rgb(154, 154, 154);
    --gray: rgb(247, 247, 247);
    --cream-green: rgb(189, 242, 210);
    --cream-yellow: rgb(255, 235, 157);
    --cream-pink: rgb(255, 239, 227);
    --cream-gray: rgb(235, 235, 235);
    --cream-pink-darker: rgb(255, 226, 205);
    --blue: rgb(23, 87, 255);
}

li {
    overflow: hidden;
    list-style: none;
}

a {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 1rem;
    color: black;
    text-decoration: none;
}

.icon {
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
}

button {
    margin: 0;
    padding: 0;
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: none;
    border-radius: 30px;
    background-color: var(--gray);
    color: #333;
}


.hr-large {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 2px;
    border: 0;
    background: rgba(154, 154, 154, 0.2);
}

/* ? SIDEBAR */

.sidebar {
    margin: 0;
    padding: 0;
    width: 17vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-right: 2px solid rgba(154, 154, 154, 0.2);
    background-color: var(--white);
}

.sidebar__links-container {
    margin: 0;
    padding: 0;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.sidebar__logo {
    width: 100px;
    height: 100px;
    background-image: url(../assets/ship-earth-icon-logo-design.png);
    background-size: cover;
}

.sidebar__links {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box
}

.sidebar__links--medium-gap {
    gap: 10px;
}

.sidebar__links--high-gap {
    gap: 25px;
}

.sidebar__link-item {
    margin: 0;
    padding: 0;
}

.sidebar__link-item--selected {
}

.sidebar__link--selected {
    text-align: left;
    overflow: hidden;
    box-sizing: border-box;
}

.sidebar__link-item--selected>a {
}

.sidebar__icon--gray-background {
    border-radius: 50%;
    background-color: var(--gray);
}

/* SIDEBAR MENU */
.sidebar__menu {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SIDEBAR QUICK ACTIONS */
.sidebar__quick-actions {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start; 
}

.sidebar__quick-actions>span {
    margin: 0;
    padding: 0;
    color: var(--grayer);
}

/* SIDEBAR LAST ORDERS */
.sidebar__last-orders {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.sidebar__last-orders>span {
    margin: 0;
    padding: 0;
    color: var(--grayer);
}

/* SIDEBAR LOGOUT */
.sidebar__logout-icon {
    margin: 0;
    padding: 0;
    height: 20px;
    width: 20px;
    background-color: #222;
}

.sidebar__logout-button {
    margin-top: 30px;
    width: auto;
    align-self: flex-start;
    background-color: transparent;
    cursor: pointer;
}

/* ? MAIN CONTENT */
.main-content {
    margin: 0;
    padding: 10px;
    width: 83vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
}


/* ! MAIN CONTENT HEADER */

.main-content__header {
    margin: 0;
    padding: 0;
    height: 20vh;
    border-bottom: 2px solid rgba(154, 154, 154, 0.2);
    background-color: var(--white);
}

/* * HEADER UP AND DOWN */

.main-content__header-up,
.main-content__header-down {
    margin: 0;
    padding: 0 15px;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ORDERS COUNT */
.main-content__orders-count {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.main-content__orders-count>span {
    margin: 0;
    padding: 0;
    font-size: 2.1em;
    font-weight: 600;
}

.main-content__orders-count>hr {
    margin: 0 10px;
    padding: 0;
    height: 40px;
    border-color: rgba(154, 154, 154, 0.2);
}

.main-content__orders-date {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-content__orders-date>span:nth-of-type(2) {
    margin: 0;
    padding: 0;
    color: var(--grayer);
    font-size: 0.9em;
}

/* PORTAL */

.main-content__portal {
    margin: 0;
    padding: 4px 2px;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    border-radius: 30px;
    background-color: var(--gray);
}

.main-content__button--selected {
    background-color: var(--white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-content__button--select-down{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.main-content__button-indicator{
    margin-left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--blue);
}

/* PROFILE INFO */

.main-content__profile-info {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.main-content__select-products {
    margin: 8px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2px;
    background-color: var(--gray);
    border-radius: 20%;
}

.main-content__select-products>span {
    margin: 0;
    padding: 0;
    border-radius: 50%;
    font-size: 0.9em;
    text-align: center;
    background-color: var(--white);
}

.main-content__product-image {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.main-content__profile {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content__profile>img {
    margin: 0;
    padding: 0;
    width: 45px;
    height: 45px;
    background-color: var(--gray);
    border-radius: 50%;
}

.main-content__profile>span {
    margin: 0;
    padding: 0 0 0 7px;
    font-size: 0.9em;
}

/*  * HEADER DOWN */

/* MAIN CONTENT SECTION NAME*/

.main-content__section-name {
    margin: 0;
    padding: 0;
    font-size: 1.7em;
    font-weight: 600;
    color: #333;
}

/* GENRES BUTTONS AND SEARCH BUTTONS */

.main-content__genres-buttons,
.main-content__search-buttons {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1px;
}

.main-content__genres-buttons {
    margin-right: 115px;
}
.main-content__button--deselect{
    color: var(--grayer);
}

.main-content__button-icon--deselect{
    filter: grayscale(100%);
    width: 18px;
    height: 18px;
}

.main-content__button--small {
    padding: 0;
    margin: 0;
    width: 50px;
}

/* ! MAIN CONTENT PRODUCTS SECTION */

.main-content__products-section {
    margin: 0;
    padding: 0;
    height: 80vh;
    display: flex;
}

.main-content__title {
    margin: 0 0 4px 0;
    padding: 0;
    font-size: 1.6em;
    font-weight: 750;
    color: #333;
}

.main-content__title--small {
    margin-bottom: 7px;
    font-size: 1.3em;
}

.main-content__subtitle {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    font-weight: 500;
    color: #333;
}

.main-content__product-button {
    width: 160px;
    height: 45px;
    margin: 0;
    padding: 0;
}

.main-content__product-button--small {
    margin: 0;
    padding: 0;
    width: 90%;
    height: 60px;
    background-color: var(--white);
    color: #333;
}

.main-content__product-button--buttom-position {
    margin-top: auto;
    margin-bottom: 25px;
    align-self: center;
}

.main-content__title-container {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.main-content__title-container--center {
    margin: 5px 45px;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
}

.main-content__card-icons {
    margin: 15px 15px 0 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.main-content__card-icon {
    margin: 0;
    padding: 8px;
    width: 15px;
    height: 15px;
    background-color: var(--white);
    border-radius: 50%;
}

.main-content__card-icon--trasparent {
    background-color: transparent;
}

.main-content__model-img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border-radius: 35px;
    background-color: var(--cream-pink-darker);
}

/*  * OFFERS */

.main-content__offers {
    margin: 0;
    padding: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
}

/* SEASONAL OFFERS */
.main-content__seasonal-offers {
    margin: 0;
    padding: 10px;
    height: 60%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 10px;
}

.main-content__offer--discount {
    margin: 0;
    padding: 0;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 40px;
    align-items: center;
    overflow: hidden;
    background-color: var(--cream-green);
    background-image: url(../assets/products/cheerful-longhaired-woman-green-sweater-white-pants-smiling-purple-background-happy-girl-stylish-outfit-with-crossbody-bag-poses-isolated.png),
        url(../assets/products/high-angle-young-boy-wearing-green-jacket.png);
    background-size: 75%, 35%;
    background-position: 280px -25px, 15px -8px;
    background-repeat: no-repeat;
}

.main-content__offer--seasonal {
    margin: 0;
    padding: 0;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 40px;
    background-color: var(--cream-yellow);
    background-image: url(../assets/products/young-woman-with-chain-necklace-posing.png);
    background-size: 50%;
    background-position: 240px -90px;
    background-repeat: no-repeat;
}

/* OFFER-OPTIONS  */

.main-content__offer-options {
    margin: 10px;
    padding: 0;
    height: 50%;
    display: flex;
    gap: 10px;
}

/* AVAIL OFFER */

.main-content__offer-option-avail {
    margin: 0;
    padding: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 40px;
    background-color: var(--cream-gray);
    background-image: url(../assets/products/young-girl-great-mood-is-smiling-orange-space-stylish-dark-haired-lady-orange-blouse-scarf-her-head-looks-into-camera.png);
    background-size: 160%;
    background-position: -70px -20px;
    background-repeat: no-repeat;
}

.main-content__offer-option-more {
    margin: 0;
    padding: 7px 40px;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    gap: 3px;
    border-radius: 40px;
    border: 2px solid rgb(154, 154, 154, 0.2);
}

.main-content__offer-option-extra {
    margin: 0;
    padding: 8px;
    width: 100%;
    height: 73%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    background-color: var(--cream-pink);
}

.main-content__offer-option-extra>div {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-content__model-img--model1 {
    background-image: url(../assets/products/close-up-portrait-man-shirt-mockup.png);
    background-size: 215%;
    background-position: -55px -20px;
    background-repeat: no-repeat;
}

.main-content__model-img--model2 {
    background-image: url(../assets/products/young-person-wearing-hoodie-mockup.png);
    background-size: 270%;
    background-position: -90px -50px;
    background-repeat: no-repeat;
}

.main-content__offer-option-extra--small {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 27%;
    display: flex;
    justify-content: space-evenly;
    border-radius: 40px;
    background-color: var(--cream-pink);
}

.main-content__offer-option-extra-extra {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

/* *  PRODUCTS  */

.main-content__products {
    margin: 0;
    padding: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    color: white
}

.main-content__product-name {
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: #333;
}

.main-content__category {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    color: var(--grayer);
}

.main-content__product-button--blue {
    background-color: var(--blue);
    color: var(--white);
    width: 65px;
}

.main-content__product-button--blur {
    background: rgba(255, 255, 255, 0.5);
    border: none;
    backdrop-filter: blur(10px);
}

.main-content__seasonal-products {
    margin: 10px;
    padding: 0;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 10px;
}

.main-content__seasonal-product {
    margin: 0;
    padding: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 40px;
    background-color: var(--cream-gray);
}

.main-content__seasonal-product--jeans {
    background-image: url(../assets/products/man-navy-jacket-jeans-streetwear.png);
    background-size: 150%;
    background-position: -70px -335px;
    background-repeat: no-repeat;
}

.main-content__seasonal-product--shoes {
    background-image: url(../assets/products/side-ways-woman-holding-megaphone-flowers.png);
    background-size: 180%;
    background-position: 0px -0px;
    background-repeat: no-repeat;
}

.main-content__producto-information-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-content__product-recomendation {
    margin: 10px;
    padding: 0;
    height: 30%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 40px;
    background-color: rgb(242, 246, 247);
    background-image: url(../assets/products/winter-sport-recreation-concept-serious-thoughtful-man-outerwear-dressed-jacket-gloves-wears-snowboarding-goggles-thinks-about-plans-about-leisure-time.png);
    background-size:
        85%;
    background-position: 170px -15px;
    background-repeat: no-repeat;
}